<h1>
<%= "#{category.name} Questions:" if filter == "category" %>
<%= "Newest Questions:" if filter == "newest" %>
<%= "Oldest Questions:" if filter == "oldest" %>
<%= "Questions by Most Upvoted Answer:" if filter == "top answers" %>
<%= "Most Popular Questions:" if filter == "most popular" %>
</h1>