<h1>
<%= "#{category.name} Questions:" if filter == "category" %>
<%= "Newest Questions:" if filter == "most_recent" %>
<%= "Oldest Questions:" if filter == "oldest" %>
<%= "Questions by Most Upvoted Answer:" if filter == "top_answers" %>
<%= "Most Popular Questions:" if filter == "most_popular" %>
</h1>