<% if my_question?(question) %>

    <%= button_to("Edit Question", edit_user_question_path(current_user, question), method: :get, form: {class: "inline_button"}) %>

    <%= button_to("Delete", user_question_path(current_user, question), method: :delete, data: { confirm: 'Are you sure?' }, form: {class: "inline_button"}) %>
    
 

<% end %>

<h3>
  
  <%= question.answer_count %> Answer(s):
  
</h3>

<% if logged_in? && !my_question?(question) %>
  
  <% if answer = user_has_already_answered(question) %>
    
    <%= button_to "Edit my Answer", edit_question_answer_path(question, answer), method: :get,  form: {class: "inline_button edit_answer_button", id: "question-#{question.id}"} %>

    <%= button_to "Delete Answer", question_answer_path(question, answer), method: :delete, form: {class: "inline_button delete_answer_button", id: "question-#{question.id}"}, data: { confirm: 'Are you sure?' } %>
  
  <% else %>

    <%= button_to("Answer this question!", new_question_answer_path(question), method: :get, form: {class: "inline_button new_answer_button", id: "question-#{question.id}"}) %>

  <% end %>

  <div class="answer_form"></div>

<% end %>
        
<%= button_to("Login to answer this question!", login_path, method: :get, form_class: "inline_button") unless logged_in? %>

