<h3>Q: <%= link_to "#{question.content}", question %></h3>
<div>

  <% if logged_in? && answered?(question) %>

    A: <%= question.top_answer.content %> -- <%= link_to(question.top_answer.user.username, user_answers_path(question.top_answer.user)) %>
    <%= button_to("Upvote | #{question.top_answer.upvote_count}", answer_upvotes_path(question.top_answer)) %>
    
  <% elsif logged_in? %>
    
    <%= link_to("Answer this question", new_question_answer_path(question)) unless my_question?(question) %>
  
  <% else %>

    <%= question.top_answer.try(:content) || link_to("Login to Answer this question", login_path) %>
  
  <% end %>

</div>
<br>