<div>

<h3 id="question">Q: <%= link_to "#{question.content}", question %></h3>

<%= render partial: "favorites/favorite_button", locals: {question: question} %>
</div>


  <% if answered?(question) %>
    
    <div>
      <p id="answer">A: <a href="#" class="js-more-answer" id="<%= question.top_answer.id %>"><%= truncate question.top_answer.content, length: 45 %></a> -- <%= link_to(question.top_answer.user.username, user_answers_path(question.top_answer.user)) %></p>
      <%= render partial: "upvotes/upvote_button", locals: {answer: question.top_answer} %>
    </div>
    
  <% elsif logged_in? %>
  
  <div class="answer_form">
    <%= button_to("Answer this question!", new_question_answer_path(question), method: :get, form: {class: "inline_button first_answer_button", id: "question-#{question.id}"}) %>
  </div>
  
  <% else %>

    <%= link_to("Login to Answer this question", login_path) %>
  
  <% end %>


<br>