<h1>Editing Question</h1>

<p><strong>Categories:</strong>
<% @question.categories.each do |category| %>
  <%= link_to category.name, question_category_path(category, @question), method: :put %> | 
<% end %>

<%= form_for(@question, url: user_question_path(current_user), method: 'put') do |f| %>

  <div class="field-with-errors">
    <%= text_area_tag 'question[content]', "#{@question.content}", rows: 5, cols: 30%>
  </div>

  <div class="checkbox_container">
    <%= collection_check_boxes(:question, :category_ids, Category.all_for(@question), :id, :name) %>
  </div>

  <%= f.fields_for :categories, @question.categories.build do |categories_fields| %>
    <%= categories_fields.text_field :name, placeholder: "Create New Category" %>
  <% end %>

  <div class="actions">
    <%= f.submit "Update Question" %>
  </div>
  
<% end %>