<h1>Editing Question</h1>

<%= form_for(@question, url: question_path(@question)) do |f| %>

  <div class="field-with-errors">
    <%= text_area_tag 'question[content]', "Ask your question here:", rows: 5, cols: 30%>
  </div>

  <%# checkboxes for adding categories %>

  <%= text_field_tag "question[new_category_attribute][name]", nil, placeholder: "Create New Category" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @question %> |
<%= link_to 'Back', questions_path %>
