<h1>
<%= "#{@category.name} " if @category %>
<%= "Latest " if @newest %>
<%= "Oldest " if @oldest %>
<%= "Most Answered" if @most_answered %>
Questions 
<%= "by #{@user.username}" if @user %>
</h1>

<%= form_tag("/questions", method: 'get') do %>
  <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name"), include_blank: "All Categories" %>
  <%= submit_tag "Filter" %>
  <%= button_tag("Oldest", value: "oldest") unless @oldest %>
  <%= button_tag("Newest", value: "newest") unless @newest %>
  <%= button_tag "Most Answered", value: "most_answered" unless @most_answered %>
<% end %>

<ul>
  <% @questions.each do |question| %>
    <h3>Q: <%= link_to "#{question.content}", question %></h3>
    <div>
    <% if logged_in? && answered?(question) %>

      A: <%= question.top_answer.content %> -- <%= link_to(question.top_answer.user.username, user_answers_path(question.top_answer.user)) %>
      <%= button_to("Upvote | #{question.top_answer.upvote_count}", answer_upvotes_path(question.top_answer)) %>
      
    <% elsif logged_in? %>
      <%= link_to("Answer this question", new_question_answer_path(question)) unless my_question?(question) %>
    
    <% else %>
      <%= question.top_answer.try(:content) || link_to("Login to Answer this question", login_path) %>
    <% end %>
    </div>
    <br>
  <% end %>
</ul>