<h1>Ask a New Question</h1>

<%= form_for(@question, url: user_questions_path(current_user)) do |f| %>

  <div class="field">
    <%= text_area_tag 'question[content]', nil, placeholder: "Ask your question here:", rows: 5, cols: 30%>
  </div>

  <div class="checkbox_container">
    <%= collection_check_boxes(:question, :category_ids, Category.all_for(@question), :id, :name) %>
  </div>

  <%= f.fields_for :categories, @question.categories.build do |categories_fields|  %>
    <%= categories_fields.text_field :name, placeholder: "Create New Category" %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', questions_path %>
