<p><strong>Question by:</strong> <%= @question.asker.username %>
</p>

<h2><%= @question.content %></h2>


<% if @question.asker == current_user %>
  <div>
    <%= link_to 'Edit', edit_user_question_path(current_user, @question) %> | 
    <%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %>  
  </div>
<% else %>
  <p><strong><%= button_to("Answer this question!", url: new_question_answer_path(@question)) %></strong></p>
<% end %>



<p><strong><%= @question.answers.count %> Answer(s):</strong></p>

<ul>
<% @question.sort_answers_by_upvotes.each do |answer| %>
  <li> 
    <div><strong><%= answer.user.username %>:</strong></div>
    <%= answer.content %>
    <% if logged_in? && current_user != answer.user %>
      <%= button_to "Upvote | #{answer.upvote_count}", answer_upvotes_path(answer) %>
    <% end %>
      

  </li>
  <br>
<% end %>
</ul>

