<p>
  <strong>Question by:</strong> 
  <%= @question.asker.username %>
</p>

<div class="question_categories">
  <%= render partial: 'question_categories', locals: {question: @question} %>
</div>

<h2>
  <%= @question.content %>
</h2>

<!-- answer, edit, destroy answer -->
<div class="question_options">
  <%= render partial: 'question_options', locals: {question: @question} %>
</div>

<br>
<!-- index answers with answer.user -->
<div class="question_answers">
  <%= render partial: "answers/question_answers", locals: {answers: @answers} %>
</div>

