<p><strong>Question by:</strong> <%= @question.asker.username %>
</p>
<p><strong>Categories:</strong>

<% @question.categories.each do |category| %>
  <%= link_to category.name, category_questions_path(category) %> | 
<% end %>
<!-- Drop down list of Categories to add as new category -->


<h2><%= @question.content %></h2>


<% if my_question?(@question) %>
  <div>
    <%= link_to 'Edit', edit_user_question_path(current_user, @question) %> | 
    <%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %>  
  </div>
<% elsif my_answer?(@question) %>
  <%= button_to "Edit my Answer", edit_question_answer_path(@question, my_answer?(@question)), method: :get %>
<% else %>
  <%= button_to "Answer this question!", new_question_answer_path(@question), method: :get %>
<% end %>



<p><strong><%= @question.answers.count %> Answer(s):</strong></p>

<ul>
<% @question.sort_answers_by_upvotes.each do |answer| %>
  <li> 
    <div><strong><%= link_to "#{answer.user.username}", user_answers_path(answer.user) %>:</strong></div>
    <%= answer.content %>
    <% if logged_in? && current_user != answer.user %>
      <%= button_to "Upvote | #{answer.upvote_count}", answer_upvotes_path(answer) %>
    <% end %>
      

  </li>
  <br>
<% end %>
</ul>

