<p id="notice"><%= notice %></p>

<p>
  <strong>Query:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.asker.username %>
</p>

<% @question.sort_answers_by_upvotes.each do |answer| %>
  
  
  <div> 
    <%# if current_user %>
      <%= button_to "Upvote #{answer.upvote_count}", answer_upvotes_path(answer) %> | 
    <%# end %>
    <%= answer.content %>
  </div>
  <div>Submitted by: <%= answer.user.username %></div>
  <br>
<% end %>

<%= link_to 'Edit', edit_question_path(@question) %>
