<p><strong>Question by:</strong> <%= @question.asker.username %>
</p>
<p><strong>Categories:</strong>

<% @question.categories.each do |category| %>
  <%= link_to category.name, category_questions_path(category) %> | 
<% end %>

<!-- Drop down list of Categories to add as new category -->

<%= render partial: 'question_categories', locals: {question: @question} %>



<h2><%= @question.content %></h2>

<%= render partial: 'question_options', locals: {question: @question} %>

<h3><%= @question.answer_count %> Answer(s):</h3>

<ul>
<%= render @answers %>
</ul>

