<p id="notice"><%= notice %></p>

<p>
  <strong>Query:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.asker.username %>
</p>

<% @question.answers.each do |answer| %>
  <div> <%= button_to "Upvote", question_upvotes_path(answer) %> | <%= answer.content %></div>
  <div>Submitted by: <%= answer.user.username %></div>
  <br>
<% end %>

<%= link_to 'Edit', edit_question_path(@question) %>
