<p><strong>Question by:</strong> <%= @question.asker.username %></p>

<%= render partial: 'question_categories', locals: {question: @question} %>

<h2><%= @question.content %></h2>

<%= render partial: 'question_options', locals: {question: @question} %>

<h3><%= @question.answer_count %> Answer(s):</h3>

<ul>
<%= render @answers %>
</ul>

