<% answers.each do |answer| %>
  <% question = answer.question %>
  <h3 id="question">Q: <%= link_to "#{question.content}", question %></h3>
    
    <%= render partial: "favorites/favorite_button", locals: {question: question} %>

    <div>
      <p id="answer">A: <a href="#" class="js-more-answer" data-id="<%= answer.id %>" ><%= truncate answer.content, length: 45 %></a></p>
    </div>
    
    <%= render partial: "upvotes/upvote_button", locals: {answer: answer} %>

  <br>
<% end %>